html,
body {
  background-color: #0d0d0d;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App > section {
  height: calc(6 * 100vh);
}

.Scene {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Ghost -------------------------------------------------------------------- */

.Ghost {
  /* hidden during init */
  display: none;

  position: fixed;
  left: -9vw;
  top: -9vw;
  width: 18vw;
  height: 18vw;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: #666;
  transition: transform 80ms;
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5));
}

.Ghost .eye {
  position: absolute;
  top: 50%;
  left: calc(7 / 24 * 100%);
  width: 6vw;
  margin-left: -3vw;
  margin-top: -3vw;
  height: 6vw;
  border-radius: 100%;
  background-color: #ffffeb;
}

.Ghost .eye:after {
  content: "";
  position: absolute;
  width: 3vw;
  height: 3vw;
  margin-left: -2.5vw;
  border-radius: 100%;
  background-color: #3c3c99;
}

.Ghost .eye.right {
  left: calc(17 / 24 * 100%);
}
